header {
  position: relative;
  width: 100%;
  z-index: 50;
  padding-top: 1%;
  background-color: #163859;
  height: 20%;
}

.title {
  font-family: 'Euphoria Script', cursive;
  font-size: 50px;
  color: #C0C1C2;
  margin: 100px 0px;
  text-align: center;
}

.logo {
  width: 500px;
  padding: 5%;
}

h2 {
  font-size: 2.5em;
  color: white;
  font-family: 'Ubuntu';
  text-align: center;
  line-height: 1em;
  padding-top: 3%;
  position: relative;
  margin-bottom: 3%;
}

nav a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  font-size: 1.5em;
  padding: 0% 3%;
  color: #C0C1C2;
  font-family: 'Arial Narrow';
}

footer {
  background-color: white;
}

article {
  margin: 3%;
  float: left;
}

nav {
  position: relative;
  z-index: 51;
  background-color: #122B45;
  height: 45px;
  text-align: center;
  margin-top: -10px;
  padding-top: 20px;
}

.info {
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  padding: 5% 5% 5% 0%;
  position: absolute;
}

  .info h3, h4, p {
    padding-bottom: 2%;
    position: relative;
    z-index: 20;
    font-family: 'Ubuntu';
    font-weight: 300;
  }

.about, .work, .blog-intro {

}

  .blog-intro h3 {
    padding: 0%;
    font-size: 15;
  }

.project {
  margin: 10% 0% 0% 0%;
}

.section-header {
  color: #c1c1c1;
  font-size: 5em;
  text-transform: uppercase;
  padding: 2%;
  line-height: 1em
}

.mid_1 img {
  position: fixed;
  vertical-align: top;
  width: 100%;
}

/*.header-image {
  position: fixed;
  overflow: hidden;
  z-index: 25;
  width: 100%;
  left: 0px;
  height: inherit;
}*/
